/*___________________________________________________
      ___       __   ___  __
|__| |__   /\  |  \ |__  |__)
|  | |___ /~~\ |__/ |___ |  \
___________________________________________________*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px;

    a {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-light);

        @media (prefers-color-scheme: dark) {
            -webkit-text-stroke-width: 0;
        }
    }

    span {
        color: var(--color-meta-blue);

        @media (prefers-color-scheme: dark) {
            color: var(--color-meta-yellow);
        }
    }
}

header {
    color: var(--color-light);

    .cover-art-link {
        display: block;
        width: 100%;
        z-index: 100;

        @media (min-width: 600px) {
            width: 900px;
        }
    }

    .cover-art {
        height: 332px;
        object-fit: cover;
        border-radius: 0;
        z-index: 100;

        &.large {
            width: 100%;
            outline: 4px solid var(--color-light);

            @media (min-width: 600px) {
                width: 900px;
            }
        }

        @media (min-width: 600px) {
            border-radius: 8px;
        }

        @media (prefers-color-scheme: dark) {
            outline: 2px solid var(--color-light);
        }

        &.small,
        &.medium {
            display: none;
        }

        &.large {
            box-shadow: 0 0 0 8px var(--color-dark);
        }

        @media (min-width: 600px) {
            &.small {
                display: block;
                filter: blur(4px) brightness(0.25);
                outline: none;
                width: 200px;
            }

            &.medium {
                display: block;
                width: 900px;
                filter: blur(4px) brightness(0.5);
                outline: none;
                z-index: 50;
            }
        }
    }

    h1 {
        font-family: "Asimovian", "sans-serif";
        margin: 0;
        z-index: 100;
        font-size: 72px;
        position: absolute;
        bottom: -28px;
        left: 20px;
        color: var(--color-light);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-dark);
    }

    .header-artist {
        display: flex;
        position: relative;
        margin-bottom: 24px;
    }

    .header-meta {
        color: var(--color-dark);
        margin: 0 16px;
        font-size: 36px;

        @media (min-width: 600px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
        }

        span {
            color: var(--color-meta-blue);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--color-light);

            span {
                color: var(--color-meta-yellow);
            }
        }

        .genre-list {
            font-size: 28px;
        }
    }
}

/*___________________________________________________

|\/|  /\  | |\ |
|  | /~~\ | | \|
___________________________________________________*/
.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

main {
    margin: 48px 0;

    @media (min-width: 600px) {
        margin: 24px 48px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;
        margin-bottom: 48px;

        @media (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .release-year-filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 16px;
        }

        label {
            padding: 6px 8px 8px 8px;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.2s all linear;
        }

        label:hover {
            background-color: var(--color-light);
            color: var(--color-dark);
        }

        label:has(input:checked) {
            background-color: var(--color-selected-darker-green);
            color: var(--color-light);
        }

        input {
            appearance: none;
            margin: 0;
        }
    }

    .albums-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        transition: 200ms all linear;
        opacity: 1;

        @media (min-width: 600px) {
            align-items: initial;
        }

        .no-results-message {
            text-align: center;

            span {
                padding: 2px 12px;
                border-radius: 8px;
                background-color: var(--color-selected-darker-green);
                color: var(--color-light);
            }
        }
    }

    .album {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 600px) {
            flex-direction: row;
            align-items: flex-start;
            gap: 28px;
        }

        .album-cover-art {
            width: 320px;
            object-fit: cover;
            border-radius: 8px;
        }

        .album-name {
            text-align: center;
            font-size: 36px;
            margin: 0;

            a {
                text-transform: lowercase;
                font-weight: 100;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--color-light);

                @media (prefers-color-scheme: dark) {
                    -webkit-text-stroke-color: var(--color-dark);
                }
            }
        }

        .album-meta {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            @media (min-width: 600px) {
                align-items: flex-start;
                gap: 18px;
            }

            p {
                font-size: 24px;

                span {
                    color: var(--color-meta-blue);

                    @media (prefers-color-scheme: dark) {
                        color: var(--color-meta-yellow);
                    }
                }
            }

            p.artist-list {
                font-size: 18px;
            }
        }

        .viewed-button {
            background-color: var(--color-light);
            border-radius: 4px;
            border: 2px solid var(--color-dark);
            padding: 12px 8px;
            margin-top: 8px;
            color: var(--color-dark);
            transition:
                border-color 200ms ease-in,
                background-color 100ms ease-in;
            width: 100px;

            @media (prefers-color-scheme: dark) {
                border: 1px solid var(--color-light);
                background-color: var(--color-button-dark);
                color: var(--color-light);

                &:hover {
                    background-color: var(--color-button-dark-hover);
                }
            }

            &.is-viewed {
                background-color: var(--color-selected-lighter-green);
                border-color: var(--color-selected-lighter-border);
                color: var(--color-dark);

                @media (prefers-color-scheme: dark) {
                    border: 1px solid var(--color-selected-darker-green);
                    background-color: var(--color-selected-darker-green);
                    color: var(--color-light);

                    &:hover {
                        background-color: var(--color-button-dark-hover);
                    }
                }
            }
        }
    }
}
