/*___________________________________________________
      ___       __   ___  __
|__| |__   /\  |  \ |__  |__)
|  | |___ /~~\ |__/ |___ |  \
___________________________________________________*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px;

    a {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-light);

        @media (prefers-color-scheme: dark) {
            -webkit-text-stroke-width: 0;
        }
    }

    span {
        color: var(--color-meta-blue);

        @media (prefers-color-scheme: dark) {
            color: var(--color-meta-yellow);
        }
    }
}

header {
    color: var(--color-light);

    .cover-art-link {
        display: block;
        width: 900px;
        z-index: 100;
    }

    .cover-art {
        width: 900px;
        height: 332px;
        object-fit: cover;
        outline: 4px solid var(--color-light);
        border-radius: 8px;
        z-index: 100;

        &.large {
            box-shadow: 0 0 0 8px var(--color-dark);
        }

        @media (prefers-color-scheme: dark) {
            outline: 2px solid var(--color-light);
        }

        &.small {
            filter: blur(4px) brightness(0.25);
            outline: none;
            width: 200px;
        }

        &.medium {
            filter: blur(4px) brightness(0.5);
            outline: none;
            z-index: 50;
        }
    }

    h1 {
        font-family: "Asimovian-Regular", "sans-serif";
        margin: 0;
        z-index: 100;
        font-size: 72px;
        position: absolute;
        bottom: -28px;
        left: 20px;
        color: var(--color-light);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-dark);
    }

    .header-artist {
        display: flex;
        position: relative;
        margin-bottom: 24px;
    }

    .header-meta {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--color-dark);
        font-size: 36px;

        span {
            color: var(--color-meta-blue);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--color-light);

            span {
                color: var(--color-meta-yellow);
            }
        }

        .genre-list {
            font-size: 28px;
        }
    }
}

/*___________________________________________________

|\/|  /\  | |\ |
|  | /~~\ | | \|
___________________________________________________*/
main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 84px 48px;

    .album {
        display: flex;
        gap: 28px;

        .album-cover-art {
            width: 320px;
            object-fit: cover;
            border-radius: 8px;
        }

        .album-name {
            font-size: 36px;
            margin: 0;

            a {
                text-transform: lowercase;
                font-weight: 100;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--color-light);

                @media (prefers-color-scheme: dark) {
                    -webkit-text-stroke-color: var(--color-dark);
                }
            }
        }

        .album-meta {
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                font-size: 24px;

                span {
                    color: var(--color-meta-yellow);
                }
            }

            p.artist-list {
                font-size: 18px;
            }
        }

        .viewed-button {
            background-color: var(--color-light);
            border-radius: 4px;
            border: 2px solid var(--color-dark);
            padding: 12px 8px;
            margin-top: 8px;
            color: var(--color-dark);
            transition:
                border-color 200ms ease-in,
                background-color 100ms ease-in;
            width: 100px;

            @media (prefers-color-scheme: dark) {
                border: 1px solid var(--color-light);
                background-color: var(--color-button-dark);
                color: var(--color-light);

                &:hover {
                    background-color: var(--color-button-dark-hover);
                }
            }

            &.is-viewed {
                background-color: var(--color-selected-lighter-green);
                border-color: var(--color-selected-lighter-border);
                color: var(--color-dark);

                @media (prefers-color-scheme: dark) {
                    border: 1px solid var(--color-selected-darker-green);
                    background-color: var(--color-selected-darker-green);
                    color: var(--color-light);

                    &:hover {
                        background-color: var(--color-button-dark-hover);
                    }
                }
            }
        }
    }
}
