/*___________________________________________________
| Header
___________________________________________________*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 12px 24px 12px;

  label {
    padding: 6px 8px 8px 8px;
    cursor: pointer;
    transition: 0.2s all linear;
  }

  label:has(input:checked) {
    background-color: var(--color-meta-blue);
    color: var(--color-light);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-meta-yellow);
      color: var(--color-dark);
    }
  }

  input {
    appearance: none;
    margin: 0;
  }
}

/*___________________________________________________
| Main
___________________________________________________*/
.hidden {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
}

main {
  margin-bottom: 48px;

  .cover-art {
    height: 332px;
    object-fit: cover;
    border-radius: 0;
    z-index: 100;
    width: 100%;
    outline: 4px solid var(--color-light);
    box-shadow: 0 0 0 8px var(--color-dark);

    @media (prefers-color-scheme: dark) {
      outline: 2px solid var(--color-light);
    }

    @media (min-width: 800px) {
      width: 800px;
    }
  }

  .genres {
    color: var(--color-dark);
    font-size: 18px;
    margin: 16px;

    @media (prefers-color-scheme: dark) {
      color: var(--color-light);
    }
  }

  .filters {
    margin-bottom: 48px;
    background-color: var(--color-light-again);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-button-dark);
    }

    .release-year-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: normal;
      justify-content: center;
      gap: 8px;
      margin-bottom: 16px;
    }

    label {
      padding: 6px 8px 8px 8px;
      cursor: pointer;
      transition: 0.2s all linear;
    }

    label:hover {
      background-color: var(--color-light);
      color: var(--color-dark);
    }

    label:has(input:checked) {
      background-color: var(--color-meta-blue);
      color: var(--color-light);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-meta-yellow);
        color: var(--color-dark);
      }
    }

    input {
      appearance: none;
      margin: 0;
    }
  }

  .albums-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: 200ms all linear;
    opacity: 1;
    padding: 0 16px;

    .no-results-message {
      text-align: center;

      span {
        padding: 2px 12px;
        background-color: var(--color-meta-blue);
        color: var(--color-light);

        @media (prefers-color-scheme: dark) {
          background-color: var(--color-meta-yellow);
          color: var(--color-dark);
        }
      }
    }
  }

  .album {
    display: flex;
    gap: 16px;

    .album-cover-art {
      width: 100px;
      object-fit: cover;
      border-radius: 8px;
    }

    .album-name {
      font-size: 20px;
      margin: 0;

      a {
        text-transform: lowercase;
        font-weight: lighter;
      }
    }

    .album-meta {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .album-name {
        a {
          color: var(--color-meta-blue);

          @media (prefers-color-scheme: dark) {
            color: var(--color-meta-yellow);
          }
        }
      }

      .supporting-artists-list {
        font-size: 14px;
        color: var(--color-light-again);
      }
    }

    .mark-as-viewed-button {
      background-color: transparent;
      color: var(--color-light);
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}

/*___________________________________________________
| Footer
___________________________________________________*/
footer {
  text-align: right;
  padding: 16px;
  color: var(--color-light);
  background-color: var(--color-button-dark);

  span {
    color: var(--color-meta-blue);
    margin-right: 4px;

    @media (prefers-color-scheme: dark) {
      color: var(--color-meta-yellow);
    }
  }
}
