/*___________________________________________________
      ___       __   ___  __
|__| |__   /\  |  \ |__  |__)
|  | |___ /~~\ |__/ |___ |  \
___________________________________________________*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px 24px 44px;

    a {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-light);
    }
}

header {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    padding-left: 48px;
    height: 280px;
    color: var(--color-light);
    border-top: 4px solid var(--color-dark);
    border-bottom: 4px solid var(--color-dark);

    @media (prefers-color-scheme: dark) {
        border-top: 4px solid var(--color-light);
        border-bottom: 4px solid var(--color-light);
    }

    .cover-art-link {
        display: block;
        width: 900px;
    }

    .cover-art {
        width: 900px;
        height: 332px;
        object-fit: cover;
        outline: 4px solid var(--color-dark);
        margin-top: -26px;
        border-radius: 8px;

        @media (prefers-color-scheme: dark) {
            outline: 3px solid var(--color-light);
        }
    }

    h1 {
        font-family: "Asimovian-Regular", "sans-serif";
        margin: 0;
        z-index: 100;
        font-size: 72px;
        position: absolute;
        bottom: -28px;
        left: 20px;
        color: var(--color-light);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-dark);
    }

    .header-artist {
        position: relative;
    }

    .header-meta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--color-dark);
        font-size: 36px;

        span {
            color: var(--color-meta-blue);
        }

        @media (prefers-color-scheme: dark) {
            color: var(--color-light);

            span {
                color: var(--color-meta-yellow);
            }
        }
    }
}

/*___________________________________________________

|\/|  /\  | |\ |
|  | /~~\ | | \|
___________________________________________________*/
main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 84px 48px;

    .album {
        display: flex;
        gap: 16px;

        .album-cover-art {
            width: 320px;
            object-fit: cover;
            border-radius: 8px;
        }

        .album-name {
            font-size: 36px;
            margin: 0;

            a {
                text-transform: lowercase;
                font-weight: 100;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--color-light);

                @media (prefers-color-scheme: dark) {
                    -webkit-text-stroke-color: var(--color-dark);
                }
            }
        }

        .album-meta {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-size: 24px;
            }

            p.artist-list {
                font-size: 18px;
            }
        }

        .viewed-button {
            background-color: var(--color-light);
            border-radius: 4px;
            border: 2px solid var(--color-dark);
            padding: 8px;
            margin-top: 8px;
            color: var(--color-dark);
            transition: border-color 200ms ease-in;
            width: 150px;

            @media (prefers-color-scheme: dark) {
                border: none;
                border-top: 2px solid var(--color-light);
                background-color: var(--color-button-dark);
                color: var(--color-light);
            }

            &.is-viewed {
                background-color: var(--color-selected-lighter-green);
                border-color: var(--color-selected-lighter-border);
                color: var(--color-dark);

                @media (prefers-color-scheme: dark) {
                    border: none;
                    border-top: 2px solid var(--color-selected-green);
                    background-color: var(--color-dark);
                    color: var(--color-light);
                }
            }
        }
    }
}
