body {
    margin: 32px;
}

@media (prefers-color-scheme: dark) {
    input,
    button {
        background-color: var(--colors-dark);
        color: var(--colors-light);
        border: none;
    }
}
