/*___________________________________________________
      ___       __   ___  __
|__| |__   /\  |  \ |__  |__)
|  | |___ /~~\ |__/ |___ |  \
___________________________________________________*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 36px;
}

header {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    padding-left: 48px;
    height: 300px;
    color: var(--color-light);
    background-color: var(--color-medium-blue);

    .cover-art-link {
        display: block;
        width: 900px;
    }

    .cover-art {
        width: 900px;
        height: 332px;
        object-fit: cover;
        outline: 4px solid var(--color-dark);
        margin-top: -16px;
        border-radius: 8px;
    }

    h1 {
        font-family: "Asimovian-Regular", "sans-serif";
        margin: 0;
        z-index: 100;
        font-size: 72px;
        position: absolute;
        bottom: -22px;
        left: 16px;
        color: var(--color-light);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-dark);
    }

    .header-artist {
        position: relative;
    }

    .header-meta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-dark);
        font-size: 42px;
    }
}

/*___________________________________________________

|\/|  /\  | |\ |
|  | /~~\ | | \|
___________________________________________________*/
main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 56px 24px;

    .album {
        display: flex;
        gap: 16px;

        .album-cover-art {
            width: 320px;
            object-fit: cover;
            border-radius: 8px;
        }

        .album-name {
            font-size: 36px;
            margin: 0;

            a {
                text-transform: lowercase;
                font-weight: 100;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--color-light);
                border-bottom: 2px solid var(--color-dark);

                @media (prefers-color-scheme: dark) {
                    -webkit-text-stroke-color: var(--color-dark);
                    border-bottom: 2px solid var(--color-light);
                }
            }
        }

        .album-meta {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-size: 24px;
            }
        }

        .viewed-button {
            background-color: var(--color-light);
            border: none;
            border-radius: 4px;
            padding: 8px;
            margin-top: 8px;
            color: var(--color-dark);
            transition: all 100ms ease-in;

            &.is-viewed {
                background-color: var(--color-medium-blue);
                color: var(--color-light);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: var(--color-dark-blue);

        img {
            outline: 2px solid var(--color-light);
            outline-offset: 2px;
        }
    }
}
