:root {
    --colors-dark: #1c1d1e;
    --colors-light: #f5f5f5;
}

body {
    margin: 32px;
    background-color: var(--colors-light);
    color: var(--colors-dark);
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--colors-dark);
        color: var(--colors-light);
    }
    input,
    button {
        background-color: var(--colors-dark);
        color: var(--colors-light);
        border: 1px solid var(--colors-light);
    }
}
